{% extends 'layout.html' %}

{% block title %}About The Project{% endblock %}

{% block body %}
<div style="background-image: url('/static/images/poly.jpg'); background-position: center center; background-size: cover; width: 100%; height: 300px; border-radius: 3px 3px 100px 3px;"></div>
<h1>About The Project</h1>
<p>As students in an engineering school, we know the standards and skills change every decade. With such a dynamic learning regimen, choosing or switching universities can be a hassle which usually has to do with a lot of research, a lot of browser tabs, head scratching, and overall, non enjoyment.</p>
<p>We decided this would be a good testing candidate for our Database Project: to reduce the headache that comes from trying to research multiple universities by having all of the information in one place. We referred to the National Center for Education Statistics for accurate information for our testing model. </p>

<p>Team Members</p>
<ul>
    <li>Ricky Nguyen</li>
    <li>Bryce Gerhart</li>
    <li>Raphael Restrepo</li>
    <li>Robert Stehlin</li>
    <li>Vladyslav Vorona</li>
</ul>

<p>This project is in alpha development so all features haven't been implemented as of now. Continued development of this project is being reviewed and discussed by the team.</p>
{% endblock %}