{% extends 'layout.html' %}

{% block title %}The free and simple education finder.{% endblock %}

{% block body %}
<a href="/compare">
<div class="half-block-button block1" style="background-image: url('/static/images/stock1.jpg')">
    <div class="block-color" style="background-color: rgba(66, 220, 244, 0.4)">
        <div class="half-block-button-text">Start comparing colleges</div>
    </div>
</div>
</a>

<a href="/colleges">
<div class="half-block-button" style="background-image: url('/static/images/college1.jpg')">
    <div class="block-color" style="background-color: rgba(200, 200, 100, 0.4);">
        <div class="half-block-button-text">College Database</div>
    </div>
</div>
</a>

<a href="/about">
<div class="full-block-button" style="background-image: url('/static/images/unf.jpg');">
    <div class="block-color" style="background-color: rgba(244, 98, 66, 0.4)">
        <div class="half-block-button-text">About the Project</div>
    </div>
</div>
</a>
<div style="clear: both"></div>
<!-- for tom <3 -->
<p style="color: rgba(0, 0, 0, 0.01);user-select: none; -moz-user-select: none;">boobs</p>
{% endblock %}
